@font-face {
  font-family: "RobotoCondensed Regular";
  src: url("../assets/fonts/RobotoCondensed-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Huninn";
  src: url("../assets/fonts/jf-openhuninn-2.1.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}